<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-display-1 bungee"> Create Capsule </span>
            <span class="md-subhead"> Select Git Repository(s) to be save/export </span>
        </md-card-title-text>
        <md-button class="md-fab" ng-click="model.OpenDirectory()">
            <md-icon aria-label="Browse" class="ti-folder"></md-icon>
        </md-button>
        <md-button class="md-fab" ng-click="">
            <md-icon aria-label="Reload" class="ti-reload"></md-icon>
        </md-button>
    </md-card-title>
    <md-card-content class="">
        <div ng-if="model.loading">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
        <md-list ng-if="!model.loading">
            <md-list-item ng-repeat="gitFolder in model.gitFolders" class="md-3-line fade">
                <div class="md-list-item-text" layout="column">
                    <md-checkbox 
                    ng-model ="gitFolder.selected"
                    ng-clicked="gitFolder.selected" 
                    ng-click="model.AddGitFolders(gitFolder)">
                        <h3>
                            <span style="font-weight:bold"> {{ gitFolder.file.name }} </span> {{ gitFolder.repoInfo.branch
                            }}
                        </h3>
                        <h4> {{ gitFolder.repoInfo.root }} </h4>
                        <p> <span style="font-style: italic"> {{ gitFolder.repoInfo.authorDate | date : format }} </span> {{
                            gitFolder.repoInfo.commitMessage }} </p>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>