<div class="card">
    <div class="header">
        <h4 class="title">Capsules History</h4>
    </div>
    <div class="content table-responsive table-full-width">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Created</th>
                    <th>FileName</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody id="historyTable">
            </tbody>
        </table>
    </div>
</div>