.bungee {
    font-family: "Bungee"
}

.colorBackground {
    background-color: #253557
}

.sidebarBackground {
    background-color: #FAFAFA
}

.sidebarListItemBackground {
    background-color: whitesmoke;
    border: black
}

.centerText {
    text-align: center
}