<div layout-fill layout="row" layout-wrap>
    <md-content flex="50">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-display-1"> Create Git Capsule </span>
                    <span class="md-subhead"> Select Git Repository(s) to be save/export </span>
                </md-card-title-text>
                <md-button class="md-fab" ng-click="model.OpenDirectory()">
                    <md-icon aria-label="Browse" class="ti-folder"></md-icon>
                </md-button>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item ng-repeat="gitFolder in model.gitFolders" class="md-3-line fade">
                        <div class="md-list-item-text" layout="column">
                            <md-checkbox ng-clicked="model.SelectedGitFolders.push(gitFolder)">
                                <h3>
                                    <span style="font-weight:bold"> {{ gitFolder.file.name }} </span> {{ gitFolder.repoInfo.branch
                                    }}
                                </h3>
                                <h4> {{ gitFolder.repoInfo.root }} </h4>
                                <p> <span style="font-style: italic"> {{ gitFolder.repoInfo.authorDate | date : format }} </span>                                    {{ gitFolder.repoInfo.commitMessage }} </p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </md-content>
    <md-content flex>
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-display-1"> Export Bash Script </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                    <md-input-container class="md-block">
                        <label>Git Capsule</label>
                        <md-select ng-model="ctrl.userState">
                            <md-option><em>None</em></md-option>
                            <!--<md-option ng-repeat="" ng-value="state.abbrev" ng-disabled="$index === 1">
                                {{state.abbrev}}
                            </md-option>-->
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>File Name</label>
                        <input ng-model="user.title">
                    </md-input-container>
                    <md-input-container class="md-block" ng-click="model.SaveScriptLocation()">
                        <label> File Location </label>
                        <input type="text" ng-model="model.outputLocation" disabled="true" flex placeholder="export location">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Comment</label>
                        <textarea ng-model="user.biography" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                    </md-input-container>
                    <md-card-actions layout="row" layout-align="center">
                        <md-button class="md-primary md-raised" ng-click=""> Save </md-button>
                        <md-button class="md-primary md-raised" ng-click=""> Export </md-button>
                    </md-card-actions>
            </md-card-content>
        </md-card>
    </md-content>
</div>